.Dog{
    margin-left: 20px;
}
.Dog img{
    width: 300px;  
    filter: grayscale();
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.1);
}
.Dog:hover img{
filter: none;
}
.Dog a{
    text-decoration: none;
    color: black;
}
.Dog h3{
    margin-top: 0;
    text-decoration: none;
    border: 4px solid transparent;
    line-height: 36px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 1.4rem;
    position: relative;
}



@media screen and (max-width: 768px) {
    .Dog{
        margin: 0px;
    }
}

